
html
{
    width: 100%;
    background-color: orange;
}

#title
{
    color: red;
    text-align: center;
    margin-top: 50px;
    margin-left: 40%;
    margin-right: 40%;
}

#title:hover
{
    color: red;
    margin-top: 50px;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 40%;
    margin-right: 40%;
}

#area
{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    font-size: 24px;
    background-color: gold;
}


#keyboard
{
    margin-top: 15px;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    text-align: center;
    font-weight: bold;
}

.row
{
    display: block;
    padding: 10px;
}

.column
{
    font-size: 16px;
    text-align: center;
    width: 50px;
    color: red;
    display: inline-block;
}

.column > button
{
    font-size: 16px;
    padding: 10px;
    color: red;
    background-color: gold;
    margin: 5px;
    width: 50px;
    font-weight: bold;
}

.footer
{
    padding: 20px;
    text-align: center;
}

.footer > a
{
    font-size: 20px;
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.footer > a:hover
{
    font-size: 20px;
    color: red;
    font-weight: bold;
    text-decoration: underline;
}
